<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Hi-End 회원가입</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/join.css">
</head>
<body layout:fragment="content">
    <div id="wrap">
        <!--회원가입 창-->
        <div class="joinBoxWrap">
            <div class="joinLogo">
                <img src="/images/loginLogo.jpg" class="logo" alt="Hi-End Logo" title="Hi-End Logo">
            </div>
            <div class="joinBox">
                <form name="joinform" method="POST">
                    <span class="id">아이디<input type="text" name="id" value="" class="inputJoin" placeholder="아이디를 입력해주세요"/></span>
                    <span class="passwd">비밀번호<input type="password" name="pw" value="" class="inputJoin" placeholder="비밀번호를 입력해주세요"></span>
                    <span class="passwdCheck"><input type="password" name="pw" value="" class="inputJoin" placeholder="비밀번호 확인해주세요"></span>
                    <span class="userName">이름<input type="text" name="userName" value="" class="inputJoin" placeholder="이름을 입력해주세요"></span>
                    <span class="PhoneNumber">전화번호<input type="tel" id="tel" name="tel"class="inputJoin"  maxlength="11" size="20" pattern=”[0-9]{11}” title="하이픈(-)은 입력할 수 없습니다." placeholder="입력 예) 01042542375"></span>
              		<span class="email">이메일<input type="email" id="email" name="email"class="inputJoin" size="30" required placeholder="입력 예) seulbinim@gmail.com"></span>
                    <span class="submitJoin"><input type="submit" class="inputSubmit" value="회원가입"/></span>
                   
                </form>
            </div>


        </div>

        <!--회원가입 끝-->
    </div>
</body>
</html>