<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Hi-End 회원가입</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/join.css">
</head>
<body layout:fragment="content">
    <div id="wrap">
        <!--회원가입 창-->
        <div class="joinBoxWrap">
            <div class="joinLogo">
                <img src="/images/loginLogo.jpg" class="logo" alt="Hi-End Logo" title="Hi-End Logo">
            </div>
            <div class="joinBox">
                <form name="joinform" method="POST" th:action th:object="${member}">
                    <span class="id">아이디<input type="text" class="inputJoin" th:field="*{loginId}" placeholder="아이디를 입력해주세요"/></span>
                    <span class="passwd">비밀번호<input type="password" class="inputJoin" th:field="*{password}" placeholder="비밀번호를 입력해주세요"></span>
                    <span class="passwdCheck"><input type="password" class="inputJoin" th:field="*{password}" placeholder="비밀번호 확인해주세요"></span>
                    <span class="userName">이름<input type="text" class="inputJoin" th:field="*{name}" placeholder="이름을 입력해주세요"></span>
                    <span class="PhoneNumber">핸드폰 번호<input type="tel" id="tel" th:field="*{phone}" onkeyup="inputPhoneNumber(this)" class="inputJoin"  maxlength="13" title="전화번호가 올바르지 않습니다." placeholder="입력 예) 010-XXXX-XXXX"></span>
              		<span class="email">이메일<input type="email" id="email" th:field="*{email}" class="inputJoin" size="30" required placeholder="입력 예) seulbinim@gmail.com"></span>
                    <span class="submitJoin"><input type="submit" class="inputSubmit" value="회원가입"/></span>
                   
                </form>
            </div>


        </div>

        <!--회원가입 끝-->
    </div>
</body>
</html>