<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/join.css">
   <!-- jquery -->
		<link href="/js/jquery-ui.css" rel="stylesheet">
		
		<script src="/js/jquery-1.12.3.js"></script>
		<script src="/js/jquery-ui.js"></script>
		
		<!-- script -->
		<script src="/js/script.js"></script>
    <title>Hi-End 회원가입</title>
</head>
<body>
    <div id="wrap">
        <!--header-->
        <header>
            <nav class="nav">
                <ul>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/members/join">회원가입</a></li>
                    <li><a href="#">비회원 주문조회</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">대한민국</a></li>
                </ul>
            </nav>

            <h1><a href="/"><img src="/images/crownsLogo.png" class="logo" alt="Hi-End Logo" title="Hi-End Logo"></a></h1>

            <nav class="menu">
                <ul>
                    <li>
                        <a href="#">GUCCI</a>

                        <ul class="sub_menu">
                            <li>
                                <a href="#">OUTER</a>
                            </li>
                            <li>
                                <a href="#">TOP</a>
                            </li>
                            <li>
                                <a href="#">BOTTOM</a>
                            </li>
                            <li>
                                <a href="#">CAP</a>
                            </li>
                            <li>
                                <a href="#">BAG</a>
                            </li>
                            <li>
                                <a href="#">ACC</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">JUUN.J</a>

                        <ul class="sub_menu">
                            <li>
                                <a href="#">OUTER</a>
                            </li>
                            <li>
                                <a href="#">TOP</a>
                            </li>
                            <li>
                                <a href="#">BOTTOM</a>
                            </li>
                            <li>
                                <a href="#">CAP</a>
                            </li>
                            <li>
                                <a href="#">BAG</a>
                            </li>
                            <li>
                                <a href="#">ACC</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Supreme</a>

                        <ul class="sub_menu">
                            <li>
                                <a href="#">OUTER</a>
                            </li>
                            <li>
                                <a href="#">TOP</a>
                            </li>
                            <li>
                                <a href="#">BOTTOM</a>
                            </li>
                            <li>
                                <a href="#">CAP</a>
                            </li>
                            <li>
                                <a href="#">BAG</a>
                            </li>
                            <li>
                                <a href="#">ACC</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">STONE ISLAND</a>

                        <ul class="sub_menu">
                            <li>
                                <a href="../sub/STONE_ISLAND_OUTER.html">OUTER</a>
                            </li>
                            <li>
                                <a href="#">TOP</a>
                            </li>
                            <li>
                                <a href="../sub/STONE_ISLAND_BOTTOM.html">BOTTOM</a>
                            </li>
                            <li>
                                <a href="#">CAP</a>
                            </li>
                            <li>
                                <a href="#">BAG</a>
                            </li>
                            <li>
                                <a href="#">ACC</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">CHANEL</a>

                        <ul class="sub_menu">
                            <li>
                                <a href="#">OUTER</a>
                            </li>
                            <li>
                                <a href="#">TOP</a>
                            </li>
                            <li>
                                <a href="#">BOTTOM</a>
                            </li>
                            <li>
                                <a href="#">CAP</a>
                            </li>
                            <li>
                                <a href="#">BAG</a>
                            </li>
                            <li>
                                <a href="#">ACC</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">고객센터</a>

                        <ul class="sub_menu">
                            <li>
                                <a href="#">공지사항</a>
                            </li>
                            <li>
                                <a href="#">이벤트</a>
                            </li>
                            <li>
                                <a href="#">리뷰</a>
                            </li>
                            <li>
                                <a href="#">Q&amp;A</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--header 끝-->
        <!--회원가입 창-->
        <div class="joinBoxWrap">
            <div class="joinLogo">
                <img src="/images/loginLogo.jpg" class="logo" alt="Hi-End Logo" title="Hi-End Logo">
            </div>

            <div class="joinBox">
                <form name="joinform" method="POST">
                    <span class="id">아이디<input type="text" name="id" value="" class="inputJoin" placeholder="아이디를 입력해주세요"/></span>
                    <span class="passwd">비밀번호<input type="password" name="pw" value="" class="inputJoin" placeholder="비밀번호를 입력해주세요"></span>
                    <span class="passwdCheck"><input type="password" name="pw" value="" class="inputJoin" placeholder="비밀번호 확인해주세요"></span>
                    <span class="userName">이름<input type="text" name="userName" value="" class="inputJoin" placeholder="이름을 입력해주세요"></span>
                    <span class="PhoneNumber">전화번호<input type="tel" id="tel" name="tel"class="inputJoin"  maxlength="11" size="20" pattern=”[0-9]{11}” title="하이픈(-)은 입력할 수 없습니다." placeholder="입력 예) 01042542375"></span>
              		<span class="email">이메일<input type="email" id="email" name="email"class="inputJoin" size="30" required placeholder="입력 예) seulbinim@gmail.com"></span>
                    <span class="submitJoin"><input type="submit" class="inputSubmit" value="회원가입"/></span>
                   
                </form>
            </div>


        </div>

        <!--회원가입 끝-->
        <!--footer-->
        <footer>
			<nav>
				<ul class="f_nav">
                    <li><a href="#">회사소개</a></li>
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보처리방침</a></li>				
					<li><a href="#">이용안내</a></li>				
					<li><a href="#">배송안내</a></li>								
				</ul>
			</nav>
			
			<p>
				Company : (주)Hi-End   |   Owner : 정민규   |  business license : 123-12-12345 <br>
				online license : 미금2021-1234호   |   Phone : 010-000-0000   |   Fax : 031-000-0000<br>
				Address : 경기 성남시 분당구 돌마로 73 우방코아, 7층<br>
				
				<strong>COPYRIGHT ⓒ 2021 Hi-End ALL RIGHTS RESERVED</strong>
			</p>
		</footer> 
        <!-- //footer -->
    </div>
</body>
</html>