<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footerFragment" class="footer">
        <!--footer-->
        <footer>
            <nav>
                <ul class="f_nav">
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용안내</a></li>
                    <li><a href="#">배송안내</a></li>
                </ul>
            </nav>

            <p>
                Company : (주)Hi-End   |   Owner : 정민규   |  business license : 123-12-12345 <br>
                online license : 미금2021-1234호   |   Phone : 010-000-0000   |   Fax : 031-000-0000<br>
                Address : 경기 성남시 분당구 돌마로 73 우방코아, 7층<br>

                <strong>COPYRIGHT ⓒ 2021 Hi-End ALL RIGHTS RESERVED</strong>
            </p>
        </footer>
        <!-- //footer -->
    </div>
</html>