<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="headerFragment" class="header">
        <!--header-->
        <header>
            <nav class="nav">
                <ul>
                    <li><a href="/">홈</a></li>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/members/join">회원가입</a></li>
                    <li><a href="/customerService">고객센터</a></li>
                </ul>
            </nav>

            <h1><a href="/"><img src="../images/crownsLogo.png" class="logo" alt="Hi-End Logo" title="Hi-End Logo"></a></h1>

            <nav class="menu">
                <ul>
                    <li><a href="#">GUCCI</a>
                        <ul class="sub_menu">
                            <li><a href="#">OUTER</a></li>
                            <li><a href="#">TOP</a></li>
                            <li><a href="#">BOTTOM</a></li>
                            <li><a href="#">CAP</a></li>
                            <li><a href="#">BAG</a></li>
                            <li><a href="#">ACC</a></li>
                        </ul>
                    </li>

                    <li><a href="#">JUUN.J</a>
                        <ul class="sub_menu">
                            <li><a href="#">OUTER</a></li>
                            <li><a href="#">TOP</a></li>
                            <li><a href="#">BOTTOM</a></li>
                            <li><a href="#">CAP</a></li>
                            <li><a href="#">BAG</a></li>
                            <li><a href="#">ACC</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Supreme</a>
                        <ul class="sub_menu">
                            <li><a href="#">OUTER</a></li>
                            <li><a href="#">TOP</a></li>
                            <li><a href="#">BOTTOM</a></li>
                            <li><a href="#">CAP</a></li>
                            <li><a href="#">BAG</a></li>
                            <li><a href="#">ACC</a></li>
                        </ul>
                    </li>

                    <li><a href="#">STONE ISLAND</a>
                        <ul class="sub_menu">
                            <li><a href="sub/STONE_ISLAND_OUTER.html">OUTER</a></li>
                            <li><a href="#">TOP</a></li>
                            <li><a href="sub/STONE_ISLAND_BOTTOM.html">BOTTOM</a></li>
                            <li><a href="#">CAP</a></li>
                            <li><a href="#">BAG</a></li>
                            <li><a href="#">ACC</a></li>
                        </ul>
                    </li>

                    <li><a href="#">CHANEL</a>
                        <ul class="sub_menu">
                            <li><a href="#">OUTER</a></li>
                            <li><a href="#">TOP</a></li>
                            <li><a href="#">BOTTOM</a></li>
                            <li><a href="#">CAP</a></li>
                            <li><a href="#">BAG</a></li>
                            <li><a href="#">ACC</a></li>
                        </ul>
                    </li>

                    <li><a href="#">고객센터</a>
                        <ul class="sub_menu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">리뷰</a></li>
                            <li><a href="#">Q&amp;A</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--header 끝-->
    </div>

</html>