<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Hi-End</title>
</head>
<body layout:fragment="content">
        <!--slider-->
        <section id="main_slide">
			<h2 class="hidden">메인 슬라이드 영역</h2>
			
			<div class="slide_img">
				<p><img src="images/GUCCI%20main.jpeg" class="sliderFirst" alt="" title="메인 이벤트 배너"></p>
				<p><img src="images/Hi-End%20main1.jpg" class="sliderSecond" alt="" title="메인 이벤트 배너"></p>
				<p><img src="images/Hi-End%20main2.jpg" class="sliderThird" alt="" title="메인 이벤트 배너"></p>
                <p><img src="images/Hi-End%20main3.jpg" alt="" title="메인 이벤트 배너"></p>
                <p><img src="images/Hi-End%20main4.jpg" alt="" title="메인 이벤트 배너"></p>
                <p><img src="images/Hi-End%20main5.jpg" alt="" title="메인 이벤트 배너"></p>
			</div>

			<p class="left_button"><img src="images/left_button.png" alt="배너 이동" title="배너 이동"></p>
			<p class="right_button"><img src="images/right_button.png" alt="배너 이동" title="배너 이동"></p>
		</section> 
        <!-- slider 끝 -->
        <!--sns메뉴-->
        <div class="SnsMenu">
            <ul>
                <li class="reservation"><a href="#"><img src="images/naverLogo.png" class="sns_img">reservation</a></li>
                <li class="shop"><a href="#"><img src="images/shopLogo.png" class="sns_img">shop</a></li>
                <li class="qna"><a href="#"><img src="images/qnaLogo.jpeg" class="sns_img">q&amp;a</a></li>
                <li class="review"><a href="#"><img src="images/review.jpeg" class="sns_img">review</a></li>
                <li class="kakao"><a href="#"><img src="images/kakaoLogo.png" class="sns_img">kakao</a></li>
                <li class="instagram"><a href="#"><img src="images/instagramLogo.png" class="sns_img">instagram</a></li>
                <li class="youtube"><a href="#"><img src="images/youtubeLogo.jpeg" class="sns_img">youtube</a></li>
            </ul>
        </div>
        <!--sns 메뉴 끝-->
        <!--banner-->
        <div id="banner">
            <ul><li class="spotlight">SPOTLIGHT ON</li>

                <li class="banner_name"><a href="#">GUCCI</a>
                    <ul class="banner_img">
                        <li><img src="images/new2.jpeg"></li>
                        <li><img src="images/Gucci_spotlight.jpg"></li>
                        <li><img src="images/Gucci_spotlight2.jpg"></li>
                        <li><img src="images/Gucci_spotlight3.jpg"></li>
                        <li><img src="images/Gucci_spotlight4.jpg"></li>
                    </ul>
                </li>

                <li class="banner_name"><a href="#">JUUN.J</a>
                    <ul class="banner_img">
                        <li><img src="images/new3.jpeg"></li>
                        <li><img src="images/JUUN.J_spotlight.jpg"></li>
                        <li><img src="images/JUUN.J_spotlight2.jpg"></li>
                        <li><img src="images/JUUN.J_spotlight3.jpg"></li>
                        <li><img src="images/JUUN.J_spotlight4.jpg"></li>
                    </ul>
                </li>

                <li class="banner_name"><a href="#">Supreme</a>
                    <ul class="banner_img">
                        <li><img src="images/new4.jpeg"></li>
                        <li><img src="images/Supreme_spotlight.jpeg"></li>
                        <li><img src="images/Supreme_spotlight2.jpeg"></li>
                        <li><img src="images/Supreme_spotlight3.jpeg"></li>
                        <li><img src="images/Supreme_spotlight4.jpeg"></li>
                    </ul>
                </li>

                <li class="banner_name"><a href="#">STONE ISLAND</a>
                    <ul class="banner_img">
                        <li><img src="images/new5.jpeg"></li>
                        <li><img src="images/StoneIsland_spotlight.jpg"></li>
                        <li><img src="images/StoneIsland_spotlight2.jpg"></li>
                        <li><img src="images/StoneIsland_spotlight3.jpg"></li>
                        <li><img src="images/StoneIsland_spotlight4.jpg"></li>
                    </ul>
                </li>

                <li class="banner_name"><a href="#">CHANEL</a>
                    <ul class="banner_img">
                        <li><img src="images/new7.jpeg"></li>
                        <li><img src="images/CHANEL_spotlight.jpeg"></li>
                        <li><img src="images/CHANEL_spotlight2.jpeg"></li>
                        <li><img src="images/CHANEL_spotlight3.jpeg"></li>
                        <li><img src="images/CHANEL_spotlight4.jpeg"></li>
                    </ul>
                </li>

            </ul>

        </div>
		<!--banner 끝-->
        <!--best item-->	
        <div class="bestItem">
            
            <div class="bestItemTitle">BEST ITEM</div>
            <div id="bestItemMain">
                <ul class="best_list">
                    <li>
                        <div class="img_wrap">
                            <a href="#"><img src="images/Gucci%20Best.jpeg"></a>
                        </div>
                        <p class="best_list_title"><a href="#">GUCCI</a></p>
                        <p class="best_list_content"><a href="#">구찌 20SS GUCCI GG마몬트 마틀라세 블랙 스몰 447632</a></p>
                        <p class="best_list_price"><a href="#">1,719,500원</a></p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <a href="#"><img src="images/CHANEL%20BEST.jpeg"></a>
                        </div>
                        <p class="best_list_title"><a href="#">CHANEL</a></p>
                        <p class="best_list_content"><a href="#">블랙 클래식 월렛온체인 WOC 캐비어 은장 Classic Wallet On Chain  AP0250</a></p>
                        <p class="best_list_price"><a href="#">3,920,000원</a></p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <a href="#"><img src="images/Supreme%20best.jpeg"></a>
                        </div>
                        <p class="best_list_title"><a href="#">Supreme</a></p>
                        <p class="best_list_content"><a href="#">20fw 슈프림 후드티 Supreme Jordan Hooded Pullover Black</a></p>
                        <p class="best_list_price"><a href="#">1,099,500원</a></p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <a href="#"><img src="images/Juun.J%20Best.jpeg"></a>
                        </div>
                        <p class="best_list_title"><a href="#">JUUN.J</a></p>
                        <p class="best_list_content"><a href="#">준지 Women 핸드메이드 코쿤핏 코트 검정색 JW0Z30W015</a></p>
                        <p class="best_list_price"><a href="#">903,000원</a></p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <a href="#"><img src="images/Stone%20Island%20Best.jpeg"></a>
                        </div>
                        <p class="best_list_title"><a href="#">STONE ISLAND</a></p>
                        <p class="best_list_content"><a href="#">스톤아일랜드 소프트쉘 후드자켓 72154</a></p>
                        <p class="best_list_price"><a href="#">592,000원</a></p>
                    </li>

                </ul>

            </div>

        </div>
        <!--best item 끝-->
        <!--new product-->
        <div class="new_product">
            
            <div class="new_product_title">NEW PRODUCT</div>
            <div id="new_product_main">
                <ul class="new_list">
                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new1.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">STONE ISLAND</a></p>
                        <p class="new_list_content"><a href="#">21SS 741564251 스톤아일랜드 와펜패치 집업후드(WH)</a></p>
                        <p class="new_list_price"><a href="#">445,000원</a></p>
                    </li>
                    
                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new2.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">GUCCI</a></p>
                        <p class="new_list_content"><a href="#">21SS 644749 1XGM0 구찌 GG로고 에이스 스니커즈(WH)</a></p>
                        <p class="new_list_price"><a href="#">758,000원</a></p>
                    </li>

                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new3.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">GUCCI</a></p>
                        <p class="new_list_content"><a href="#">21SS 645771 2H060 구찌 웹 라이톤 스니커즈(WH)</a></p>
                        <p class="new_list_price"><a href="#">1,070,000원</a></p>
                    </li>

                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new4.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">CHANEL</a></p>
                        <p class="new_list_content"><a href="#">21SS 샤넬 클래식 CC로고 캐비어스킨 클러치 L(BS)</a></p>
                        <p class="new_list_price"><a href="#">2,190,000원</a></p>
                    </li>

                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new5.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">JUUN.J</a></p>
                        <p class="new_list_content"><a href="#">21SS (Men) 블랙 서울 소울 프린팅 스웨트 셔츠</a></p>
                        <p class="new_list_price"><a href="#">390,000원</a></p>
                    </li>

                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new6.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">CHANEL</a></p>
                        <p class="new_list_content"><a href="#">21SS AP0213 CC로고 클래식 카프스킨 카드지갑(BS)</a></p>
                        <p class="new_list_price"><a href="#">665,000원</a></p>
                    </li>

                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new7.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">GUCCI</a></p>
                        <p class="new_list_content"><a href="#">21SS 639277 Z8AJT 리버시블 집업자켓(BN)</a></p>
                        <p class="new_list_price"><a href="#">2,850,000원</a></p>
                    </li>

                    <li>
                        <div class="new_img_wrap">
                            <a href="#"><img src="images/new8.jpeg"></a>
                        </div>
                        <p class="new_list_title"><a href="#">STONE ISLAND</a></p>
                        <p class="new_list_content"><a href="#">21SS 7415524B0 스톤아일랜드 니트(LY)</a></p>
                        <p class="new_list_price"><a href="#">415,000원</a></p>
                    </li>

                </ul>


            </div>

        </div>
        <!--new product 끝-->
</body>
</html>