<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Hi-End 로그인</title>
</head>
<body layout:fragment="content">
    <div id="wrap">
        <!--login-->
        <div class="loginBoxWrap">
            <div class="loginLogo">
                <img src="images/loginLogo.jpg" class="logo" alt="Hi-End Logo" title="Hi-End Logo">
            </div>

            <div class="loginBox">
                <form name="loginform" method="POST">
                    <span class="id"><input type="text" name="id" value="" class="inputLogin" placeholder="아이디를 입력해주세요"/></span>
                    <span class="passwd"><input type="password" name="pw" value="" class="inputLogin" placeholder="비밀번호를 입력해주세요"></span>

                    <span class="submitLogin"><input type="submit" class="inputSubmit" value="로그인"/></span>
                    <label class="checkbox">
                        <input type="checkbox" name="autoLogin" class="inputCheck" value="1"/><b>자동로그인</b>
                    </label>
                </form>

            <ul class="loginMenu">
                <li class="join"><a href="../members/joinForm.html">회원가입</a></li>
                <li class="idSearch"><a href="#">아이디 찾기</a></li>
                <li class="pwSearch"><a href="#">비밀번호 찾기</a></li>
            </ul>    
            </div>
        </div>
    </div>
</body>
</html>